/* Styles of Form Component */

.Form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 300px;
  .field {
    margin: 10px 0;
    &.Text {
      input {
        height: 40px;
        width: 302px;
        font-size: 23px;
      }
    }
    &.Size {
      > div {
        display: flex;
        .ftzInput {
          width: 60px;
          margin-left: 15px;
        }
      }
    }
    &.Color {
      .check {
        display: flex;
        flex-direction: row;
        align-items: center;
        h2 {
          margin-right: 10px;
        }
      }
      > div {
        margin: 10px 0;
        flex-direction: column;
        display: flex;
        .heading {
          display: flex;
          align-items: center;
          margin-bottom: 5px;
          .cover {
            margin-right: 10px;
            width: 20px;
            height: 20px;
            border-radius: 2px;
          }
        }
        .chrome-picker {
          span {
            font-family: 'Roboto', sans-serif;
          }
        }
      }
    }
  }
}
