/* Styles of App Component */
body {
  // color: #20232A;
  // font-family: 'Segoe UI', sans-serif;
  overflow-x: hidden;
  .App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      margin: 30px auto;
    }
  }
}
